.contact {
    padding-top: 130px;
    color: white;
    height: 100%;
    // padding-bottom: 100px;

    &__container {
        
        .contact-title {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
        
        .contact-content {
            display: flex;
            flex-wrap: wrap;
            
            .card-bg {
                width: 100%;
                display: flex;
                justify-content: center;

                .card-contact {
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;

                    .card-left {
                        width: 350px;
                        padding: 20px;
                        background-color: $dark2;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;
                        border-radius: 20px;
        
                        .img-content img {
                            height: 310px;
                            border-radius: 15px;
                        }
        
                        .content {
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
        
                            .top-content {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    
                                    @include tablet {
                                        flex-direction: row;
                                    }

                                    @include mobile {
                                        flex-direction: column;
                                    }
                                }
        
                                p {
                                    margin: 20px 0;
                                }
                            }

                            .bottom-content {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                @include tablet {
                                    flex-direction: row;
                                }

                                @include mobile {
                                    flex-direction: column;
                                }
                            }
                        }
                    }

                    @include tablet {
                        .card-left {
                            width: 100%;
                        }

                        .content {
                            margin-top: 20px;
                        }
                    }

                    .card-right {
                        background-color: $dark2;
                        width: 800px;
                        border-radius: 25px;
                        padding: 30px;

                        form {
                            height: 100%;
                            // display: flex;
                            // flex-direction: column;
                            // gap: 20px;

                            .row {
                                display: flex;
                                gap: 40px;

                                @include tablet {
                                    gap: 20px;
                                    flex-wrap: wrap;
                                    margin-bottom: 20px;
                                }

                                .col {
                                    width: 100%;

                                    .control-form {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        gap: 10px;
                                        width: 100%;

                                        input {
                                            height: 40px;
                                            border: none;
                                            border-radius: 10px;
                                            background-color: #3f3f3f;
                                            padding: 10px;
                                            color: white;

                                            &:focus {
                                                outline: 1px solid $primary-redmode;
                                            }
                                        }
                                        
                                        textarea {
                                            color: white;
                                            padding: 10px;
                                            background-color: #3f3f3f;
                                            height: 300px;
                                            border: none;
                                            border-radius: 15px;
                                            
                                            &:focus {
                                                outline: 1px solid $primary-redmode;
                                            }
                                        }
                                    }
                                }

                                button {
                                    background-color: $primary-redmode;
                                    color: white;
                                    width: 100%;
                                    height: 45px;
                                    border: none;
                                    border-radius: 10px;
                                    font-weight: bold;
                                    font-size: 20px;
                                    margin: 25px 0;

                                    &:hover {
                                        background-color: $secondary-redmode;
                                        box-shadow: 0 0 5px $primary-redmode,
                                                    0 0 25px $primary-redmode;
                                    }
                                }
                            }
                        }
                    }

                    @include tablet {
                        .card-right {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}