.home {
    // background-color: aliceblue;
    height: 100%;
    padding-top: 80px;
    color: white;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10%;
        gap: 10%;
        height: 100%;

        .left-content img {
            object-fit: cover;
            height: 400px;
            width: 400px;
            border-radius: 50%;
            transform: rotate(90deg);
            box-shadow: 10px 0 15px  $primary-redmode;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.1) rotate(90deg);
            }
        }

        .right-content {
            &--top {
                p {
                    font-size: 12px;
                }

                .name {
                    color: $primary-redmode;
                    font-size: 40px;
                }

                h1 {
                    z-index: -1;
                    position: relative;

                    span {
                        color: $secondary-bluemode;
                    }

                    .cover {
                        position: absolute;
                        left: 30px;
                        bottom: 0;
                        top: 0;
                        background-color: black;
                        width: 300px;
                        animation: slide 5s ease-in-out infinite;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 30;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            &--middle {
                margin-top: 30px;
            }

            &--bottom {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                
                .brand a {
                    font-size: 60px;
                    margin: 0 20px ;
                    text-decoration: none;
                    color: $primary-redmode;
                    
                    &:hover i {
                        &.fa-github{
                            border-radius: 50%;
                        }
                        color: $secondary-redmode;
                        box-shadow: 0 0 5px $primary-redmode,
                                    0 0 25px $primary-redmode;
                    }
                }

                .download-btn {
                    text-decoration: none;
                    background-color: $primary-redmode;
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 50px;
                    border-radius: 25px;
                    height: 70px;

                    &:hover {
                        background-color: $secondary-redmode;
                        box-shadow: 0 0 5px $primary-redmode,
                                    0 0 25px $primary-redmode;
                    }
                }
            }
        }

        @include tablet {
            flex-wrap: wrap;
        }
    }
}

@keyframes slide {
    0% {
        left: 30px; // Mulai dari luar layar di sebelah kiri
    }
    50% {
        left: 300px; // Bergerak ke luar layar di sebelah kanan
    }
    100% {
        left: 30px; // Kembali ke posisi awal di sebelah kiri
    }
}
