.home {
    // background-color: aliceblue;
    height: 100%;
    padding-top: 80px;
    color: white;
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10%;
        gap: 10%;
        height: 100%;

        .left-content img {
            object-fit: cover;
            height: 400px;
            width: 400px;
            border-radius: 50%;
            transform: rotate(90deg);
            box-shadow: 10px 0 15px  $primary-redmode;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            opacity: 0;

            &:hover {
                transform: scale(1.1) rotate(90deg);
            }

            &.animate {
                opacity: 1;
                animation: rotate360 0.7s linear;
            }

            @keyframes rotate360 {
                0% {
                    transform:scale(0.8) rotate(0deg);
                }
                60% {
                    transform: scale(1.1) rotate(120deg); /* 90deg + 360deg */
                }
                80% {
                    transform: scale(1.1) rotate(70deg); /* 90deg + 360deg */
                }
                100% {
                    transform: scale(1) rotate(90deg); /* 90deg + 360deg */
                }
            }
            
        }

        @include tablet2 {
            .left-content img {
                height: 300px;
                width: 300px;
                border-radius: 50%;
                transform: rotate(90deg);
            }
        }
        
        @include mobile {
            .left-content img {
                height: 270px;
                width: 270px;
                border-radius: 50%;
                transform: rotate(90deg);
            }
        }

        .right-content {
            margin-top: 20px;
            opacity: 0;
            transition: all 1s ease-in-out;
            position: relative;

            &.animate {
                opacity: 1;
                animation: goVisible 0.8s linear forwards;
            }

            @keyframes goVisible {
                0% {
                    opacity: 0;
                    top: -20px;
                }
                100% {
                    opacity: 1;
                    top: 0;
                }
            }

            &--top {
                p {
                    font-size: 12px;
                }

                .name {
                    color: $primary-redmode;
                    font-size: 40px;
                }

                h1 {
                    z-index: -1;
                    position: relative;

                    span {
                        color: $secondary-bluemode;
                    }

                    .cover {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        background-color: black;
                        width: 0;
                        animation: expandWidth 5s ease-in-out infinite;
                        transform-origin: right;
                    }
                    
                    @include tablet2 {
                        font-size: 23px;
                    }

                    @include mobile {
                        font-size: 18px;
                    }
                }
            }

            &--middle {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            &--bottom {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                
                .brand a {
                    font-size: 60px;
                    margin: 0 20px ;
                    text-decoration: none;
                    color: $primary-redmode;

                    &:hover i {
                        &.fa-github{
                            border-radius: 50%;
                        }
                        color: $secondary-redmode;
                        box-shadow: 0 0 5px $primary-redmode,
                                    0 0 25px $primary-redmode;
                    }

                    @include mobile {
                        font-size: 53px;
                        margin: 10px;
                    }

                }

                .download-btn {
                    text-decoration: none;
                    background-color: $primary-redmode;
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 50px;
                    border-radius: 25px;
                    height: 70px;
                    gap: 10px;

                    &:hover {
                        background-color: $secondary-redmode;
                        box-shadow: 0 0 5px $primary-redmode,
                                    0 0 25px $primary-redmode;
                    }

                    &.icon {
                        display: none;
                    }

                    @include tablet2 {
                        display: none;   
                        
                        &.icon {
                            display: flex;
                        }
                    }
                }
            }
        }

        @include tablet {
            flex-wrap: wrap;
        }
    }
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    50% {
        width: 95%;
    }
    100% {
        width: 0;
    }
}