.resume {
    height: 100vh;
    color: white;
    padding-top: 120px;

    &__container {
        height: 100%;

        .title {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .section {
            
        }
    }
}