.resume {
    height: 2300px;
    color: white;
    padding-top: 120px;
    margin-bottom: 30px;

    &__container {
        height: 100%;

        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 100px;

            .slider-experience-education {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $dark2;
                gap: 10px;
                border-radius: 50px;
                // transition: all 1s ease-in-out;
                
                h1 {
                    padding: 20px 30px;
                    
                    &.active {
                        border-radius: 50px;
                        background-color: $primary-redmode;
                    }
                }
            }
        }

        .section {
            z-index: 4;
            background-color: $dark2-transparent;
            border-radius: 25px;
            padding: 30px;
            height: 87%;
            display: flex;
            flex-wrap: wrap;
            gap: 100px;
            position: relative;

            .line {
                position: absolute;
                background-color: $primary-redmode;
                height: 95%;
                width: 2px;
                left: 50%;
            }

            .card-bg {
                width: 100%;
                position: relative;
                // background-color: aqua;

                .pointer {
                    left: 49.4%;
                    top: 40%;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    position: absolute;
                    background-color: $primary-redmode;
                    box-shadow: 0 0 5px $primary-redmode,
                                0 0 25px $primary-redmode;
                }

                .card-education {
                    position: absolute;
                    width: 45%;
                    height: auto;
                    padding: 30px;
                    border-radius: 25px;
                    border: 2px solid $primary-redmode;
                    background-color: $dark;
                    box-shadow: 0 0 5px $primary-redmode,
                                0 0 25px $primary-redmode;
    
                    &.left {
                        left: 20px;
                    }
    
                    &.right {
                        right: 20px;
                    }
    
                    .top-card {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 30px;
    
    
                        .title-card {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        
                        .year {
                            background-color: $secondary-redmode;
                            padding: 5px 20px;
                            border-radius: 5px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}