.services {
    height: 100%;
    width: 100%;
    color: white;
    padding-top: 100px;

    &__container {
        .title {
            margin: 50px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .card-skill {
                background-color: $dark2;
                width: 300px;
                height: 400px;
                padding: 40px;
                border-radius: 25px;
                box-shadow: 0 0 15px  $primary-redmode;
                transition: transform 0.5s ease, box-shadow 0.5s ease;

                .top-card {
                    display: flex;
                    justify-content: flex-end;

                    a.logo {
                        color: $primary-redmode;
                        font-size: 30px;
                    }
                    
                    a.click-me-btn {
                        text-decoration: none;
                        font-weight: bold;
                        border-radius: 25px;
                        padding: 5px 30px;
                        color: white;
                        background-color: $primary-redmode;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .content-card {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 5px $primary-redmode,
                                0 0 25px $primary-redmode;
                }

                @include mobile {
                    &:nth-child(1) {
                        margin-left: 50px;
                    }

                    &:nth-child(5) {
                        margin-right: 50px;
                    }
                }
            }

            @include mobile {
                padding: 20px 0;
                flex-wrap: nowrap;
                justify-content: flex-start;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                  }
            }
        }
    }

    .services_detail_skill {
        display: none;
        opacity: 0;
        // transition: 1s ease-in-out;
        
        &.active {
            display: block;
            opacity: 1;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #2e2e2e9e;
            z-index: 10;
    
            .background-detail-skill {
                height: 100%;
                width: 100%;
                background-color: $dark2-transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
    
                .close {
                    position: absolute;
                    top: 20px;
                    right: 40px; 
                    text-decoration: none;
                    font-size: 30px;
                    font-weight: bold;
                    color: $primary-redmode;
                    background-color: $dark2-transparent;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid $primary-redmode;
                    box-shadow: 0 0 5px $primary-redmode,
                                0 0 25px $primary-redmode;

                    @include mobile {
                        top: 43px;
                    }
                }
    
                .card-detail-skill {
                    height: 75%;
                    width: 90%;
                    background-color: $dark2;
                    border-radius: 30px;
                    box-shadow: 0 0 5px $primary-redmode,
                                0 0 25px $primary-redmode;
                    padding: 30px;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    @include tablet2 {
                        height: 90%;
                    }

                    @include mobile {
                        flex-direction: column;
                        padding: 20px;
                    }
    
                    .left-content {
                        width: 25%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
    
                        .top i {
                            color: $primary-redmode;
                            font-size: 35px;
                        }

                        .bottom h3 {
                            margin-bottom: 30px;
                        }

                        @include mobile {
                            width: 100%;

                            .top i {
                                margin-top: 30px;
                                color: $primary-redmode;
                                font-size: 27px;
                            }
    
                            .bottom h3 {
                                margin-bottom: 10px;
                            }
                        }
                    }
    
                    .line {
                        margin: 0 30px;
                        height: 80%;
                        width: 4px;
                        background-color: $primary-redmode;
                        border-radius: 15px;

                        @include mobile {
                            width: 80%;
                            height: 4px;
                        }
                    }
    
                    .right-content {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        // background-color: aliceblue;
    
                        .circle-skill {
                            height: 150px;
                            width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            
                            .img-content img {
                                height: 100px;
                                width: 100px;
                                padding: 5px;
                                border-radius: 50%;
                                background-color: $primary-redmode;
                                box-shadow: 0 0 5px $primary-redmode,
                                            0 0 25px $primary-redmode;

                                @include mobile {
                                    height: 80px;
                                    width: 80px;
                                }
                            }

    
                        }
                    }
                }

              
            }
        }
    }
}