@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    scroll-behavior: smooth;
}

// body {
//     overflow: hidden
// }

@import 'media-queries';
@import 'colors';
@import 'navbar';

main {
    .container {
        // background-color: aliceblue;
        margin: 0 50px;
        @import 'home-section';
        @import 'service-section';
        @import 'resume-section';
        @import 'client-section';
        @import 'portofolio-section';
        @import 'contact-section';
    }
}

@import 'footer-section';