@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    scroll-behavior: smooth;
}

// body {
//     overflow: hidden
// }

@import 'media-queries';
@import 'colors';
@import 'navbar';


main {
    .settingsCollor {
        color: $primary-redmode;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 2px solid $primary-redmode;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bold;
        box-shadow: 0 0 5px $primary-redmode,
                    0 0 25px $primary-redmode;
        transform: rotate(-90deg);
        animation: spin 5s linear infinite;

        @include tablet2 {
            height: 50px;
            width: 50px;
            font-size: 35px;
        }
    }

    .container {
        // background-color: aliceblue;
        margin: 0 50px;
        @import 'home-section';
        @import 'service-section';
        @import 'resume-section';
        @import 'client-section';
        @import 'portofolio-section';
        @import 'contact-section';

        @include tablet2 {
            margin: 0 20px
        }

        @include mobile {
            margin: 0
        }
    }
}

@import 'footer-section';

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}