@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header .side-bar .btn-contact-me, header nav .right-nav .btn-contact-me {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #FF0000;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
header .side-bar .btn-contact-me:hover, header nav .right-nav .btn-contact-me:hover {
  background-color: #FF6C6C;
}

header a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease;
}
header a:hover {
  color: #FF0000;
}
header nav {
  top: 0;
  background-color: rgba(46, 46, 46, 0.6745098039);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
@media screen and (max-width: 444px) {
  header nav {
    height: 70px;
    padding-top: 15px;
  }
}
header nav .bars a {
  opacity: 0;
  color: #FF0000;
  font-size: 30px;
  transition: opacity 0.3s ease;
}
header nav .right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: gap 0.3s ease;
}
header nav .right-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: gap 0.3s ease;
}
header nav .right-nav ul li {
  width: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
}
header nav .right-nav ul li.active {
  background-color: rgba(0, 0, 0, 0.478);
  border-radius: 25px;
  margin-top: 90px;
  height: 50px;
}
header nav .right-nav ul li.active a {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #FF0000;
  width: 85%;
  padding: 10px 5px;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease, padding 0.3s ease, margin-top 0.3s ease;
}
@media screen and (max-width: 1224px) {
  header nav .right-nav {
    display: none;
  }
  header nav .bars a {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}
header .side-bar {
  background-color: #151515;
  right: -200px;
  position: fixed;
  margin-top: 70px;
  height: calc(100% - 100px);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: right 1s ease, margin-top 1s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
}
header .side-bar ul {
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: margin-top 0.3s ease, gap 0.3s ease;
}
header .side-bar ul li {
  position: relative;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .side-bar ul li.active {
  background-color: black;
  height: 60px;
  padding: 5px 10px 0px 100px;
  border-radius: 25px;
  margin-right: 75px;
}
header .side-bar ul li.active a {
  height: 70%;
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  background-color: #FF0000;
  font-weight: bold;
  color: white;
  transition: margin-right 0.3s ease, padding 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .side-bar .btn-contact-me {
  margin-top: 20px;
}
header .side-bar.active {
  right: 0;
  transition: right 1s ease;
}

main .settingsCollor {
  color: #FF0000;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #FF0000;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
  transform: rotate(-90deg);
  animation: spin 5s linear infinite;
}
@media screen and (max-width: 790px) {
  main .settingsCollor {
    height: 50px;
    width: 50px;
    font-size: 35px;
  }
}
main .container {
  margin: 0 50px;
}
main .container .home {
  height: 100%;
  padding-top: 80px;
  color: white;
}
main .container .home__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10%;
  gap: 10%;
  height: 100%;
}
main .container .home__container .left-content img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transform: rotate(90deg);
  box-shadow: 10px 0 15px #FF0000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
}
main .container .home__container .left-content img:hover {
  transform: scale(1.1) rotate(90deg);
}
main .container .home__container .left-content img.animate {
  opacity: 1;
  animation: rotate360 0.7s linear;
}
@keyframes rotate360 {
  0% {
    transform: scale(0.8) rotate(0deg);
  }
  60% {
    transform: scale(1.1) rotate(120deg); /* 90deg + 360deg */
  }
  80% {
    transform: scale(1.1) rotate(70deg); /* 90deg + 360deg */
  }
  100% {
    transform: scale(1) rotate(90deg); /* 90deg + 360deg */
  }
}
@media screen and (max-width: 790px) {
  main .container .home__container .left-content img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 444px) {
  main .container .home__container .left-content img {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    transform: rotate(90deg);
  }
}
main .container .home__container .right-content {
  margin-top: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
  position: relative;
}
main .container .home__container .right-content.animate {
  opacity: 1;
  animation: goVisible 0.8s linear forwards;
}
@keyframes goVisible {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
main .container .home__container .right-content--top p {
  font-size: 12px;
}
main .container .home__container .right-content--top .name {
  color: #FF0000;
  font-size: 40px;
}
main .container .home__container .right-content--top h1 {
  z-index: -1;
  position: relative;
}
main .container .home__container .right-content--top h1 span {
  color: #0094FF;
}
main .container .home__container .right-content--top h1 .cover {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  width: 0;
  animation: expandWidth 5s ease-in-out infinite;
  transform-origin: right;
}
@media screen and (max-width: 790px) {
  main .container .home__container .right-content--top h1 {
    font-size: 23px;
  }
}
@media screen and (max-width: 444px) {
  main .container .home__container .right-content--top h1 {
    font-size: 18px;
  }
}
main .container .home__container .right-content--middle {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .container .home__container .right-content--bottom {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
main .container .home__container .right-content--bottom .brand a {
  font-size: 60px;
  margin: 0 20px;
  text-decoration: none;
  color: #FF0000;
}
main .container .home__container .right-content--bottom .brand a:hover i {
  color: #FF6C6C;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
main .container .home__container .right-content--bottom .brand a:hover i.fa-github {
  border-radius: 50%;
}
@media screen and (max-width: 444px) {
  main .container .home__container .right-content--bottom .brand a {
    font-size: 53px;
    margin: 10px;
  }
}
main .container .home__container .right-content--bottom .download-btn {
  text-decoration: none;
  background-color: #FF0000;
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  border-radius: 25px;
  height: 70px;
  gap: 10px;
}
main .container .home__container .right-content--bottom .download-btn:hover {
  background-color: #FF6C6C;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
main .container .home__container .right-content--bottom .download-btn.icon {
  display: none;
}
@media screen and (max-width: 790px) {
  main .container .home__container .right-content--bottom .download-btn {
    display: none;
  }
  main .container .home__container .right-content--bottom .download-btn.icon {
    display: flex;
  }
}
@media screen and (max-width: 1224px) {
  main .container .home__container {
    flex-wrap: wrap;
  }
}
@keyframes expandWidth {
  0% {
    width: 0;
  }
  50% {
    width: 95%;
  }
  100% {
    width: 0;
  }
}
main .container .services {
  height: 100%;
  width: 100%;
  color: white;
  padding-top: 100px;
}
main .container .services__container .title {
  margin: 50px;
}
main .container .services__container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
main .container .services__container .content .card-skill {
  background-color: #2E2E2E;
  width: 300px;
  height: 400px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 15px #FF0000;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
main .container .services__container .content .card-skill .top-card {
  display: flex;
  justify-content: flex-end;
}
main .container .services__container .content .card-skill .top-card a.logo {
  color: #FF0000;
  font-size: 30px;
}
main .container .services__container .content .card-skill .top-card a.click-me-btn {
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  padding: 5px 30px;
  color: white;
  background-color: #FF0000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container .services__container .content .card-skill .content-card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container .services__container .content .card-skill:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
@media screen and (max-width: 444px) {
  main .container .services__container .content .card-skill:nth-child(1) {
    margin-left: 50px;
  }
  main .container .services__container .content .card-skill:nth-child(5) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 444px) {
  main .container .services__container .content {
    padding: 20px 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  main .container .services__container .content::-webkit-scrollbar {
    display: none;
  }
}
main .container .services .services_detail_skill {
  display: none;
  opacity: 0;
}
main .container .services .services_detail_skill.active {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(46, 46, 46, 0.6196078431);
  z-index: 10;
}
main .container .services .services_detail_skill.active .background-detail-skill {
  height: 100%;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.6745098039);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .container .services .services_detail_skill.active .background-detail-skill .close {
  position: absolute;
  top: 20px;
  right: 40px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #FF0000;
  background-color: rgba(46, 46, 46, 0.6745098039);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #FF0000;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
@media screen and (max-width: 444px) {
  main .container .services .services_detail_skill.active .background-detail-skill .close {
    top: 43px;
  }
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill {
  height: 75%;
  width: 90%;
  background-color: #2E2E2E;
  border-radius: 30px;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 790px) {
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill {
    height: 90%;
  }
}
@media screen and (max-width: 444px) {
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill {
    flex-direction: column;
    padding: 150px 10px;
    height: 100%;
    overflow-y: auto;
  }
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content .top i {
  color: #FF0000;
  font-size: 35px;
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content .bottom h3 {
  margin-bottom: 30px;
}
@media screen and (max-width: 444px) {
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content {
    width: 100%;
  }
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content .top i {
    color: #FF0000;
    font-size: 27px;
  }
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .left-content .bottom h3 {
    margin-bottom: 10px;
  }
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .line {
  margin: 0 30px;
  height: 80%;
  width: 4px;
  background-color: #FF0000;
  border-radius: 15px;
}
@media screen and (max-width: 444px) {
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .line {
    width: 80%;
    height: 4px;
  }
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content .content {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content .content .circle-skill {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content .content .circle-skill .img-content img {
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 50%;
  background-color: #FF0000;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
@media screen and (max-width: 444px) {
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content .content .circle-skill {
    height: 100px;
    width: 100px;
  }
  main .container .services .services_detail_skill.active .background-detail-skill .card-detail-skill .right-content .content .circle-skill .img-content img {
    height: 60px;
    width: 60px;
    padding: 2px;
  }
}
main .container .resume {
  height: 100%;
  color: white;
  padding-top: 120px;
  margin-bottom: 30px;
}
main .container .resume__container {
  height: 100%;
}
main .container .resume__container .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
main .container .resume__container .title .slider-experience-education {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  gap: 10px;
  border-radius: 50px;
}
main .container .resume__container .title .slider-experience-education h1 {
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  padding: 20px 30px;
}
main .container .resume__container .title .slider-experience-education h1.active {
  background-color: #FF0000;
}
main .container .resume__container .section {
  z-index: 4;
  background-color: rgba(46, 46, 46, 0.6745098039);
  border-radius: 25px;
  padding: 30px;
  height: 87%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}
main .container .resume__container .section .line {
  position: absolute;
  background-color: #FF0000;
  height: 90%;
  width: 2px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
@media screen and (max-width: 790px) {
  main .container .resume__container .section .line {
    left: 95%;
  }
}
@media screen and (max-width: 444px) {
  main .container .resume__container .section .line {
    display: none;
  }
}
main .container .resume__container .section .card-bg {
  height: 100%;
  display: flex;
  position: relative;
}
main .container .resume__container .section .card-bg.experience {
  display: none;
}
main .container .resume__container .section .card-bg.left {
  justify-content: flex-start;
}
main .container .resume__container .section .card-bg.right {
  justify-content: flex-end;
}
@media screen and (max-width: 790px) {
  main .container .resume__container .section .card-bg.right {
    justify-content: flex-start;
  }
}
main .container .resume__container .section .card-bg .pointer {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FF0000;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
  position: absolute;
  top: 50%; /* Adjust this value as needed to center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; /* Ensure this is higher than the .line z-index */
}
@media screen and (max-width: 790px) {
  main .container .resume__container .section .card-bg .pointer {
    left: 99%;
  }
}
@media screen and (max-width: 444px) {
  main .container .resume__container .section .card-bg .pointer {
    display: none;
  }
}
main .container .resume__container .section .card-bg .card-education-experience {
  width: 45%;
  padding: 25px;
  border-radius: 25px;
  border: 2px solid #FF0000;
  background-color: black;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 790px) {
  main .container .resume__container .section .card-bg .card-education-experience {
    width: 93%;
  }
}
main .container .resume__container .section .card-bg .card-education-experience:hover {
  transform: translateY(-17px);
}
main .container .resume__container .section .card-bg .card-education-experience .top-card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 25px;
}
main .container .resume__container .section .card-bg .card-education-experience .top-card .title-card {
  font-size: 20px;
  font-weight: bold;
}
main .container .resume__container .section .card-bg .card-education-experience .top-card .year {
  background-color: #FF6C6C;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 790px) {
  main .container .resume__container .section .card-bg .card-education-experience .top-card {
    flex-wrap: wrap;
  }
}
main .container .client {
  padding-top: 120px;
  height: 100%;
  color: white;
}
main .container .client__container .client-title h1 {
  margin: 20px;
}
main .container .client__container .client-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
main .container .client__container .client-content .left-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1224px) {
  main .container .client__container .client-content .left-content {
    justify-content: center;
  }
}
main .container .client__container .client-content .left-content .circle-client {
  height: 140px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .container .client__container .client-content .left-content .circle-client .img-content {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
main .container .client__container .client-content .right-content {
  position: relative;
  width: 1600px;
  height: 800px;
}
@media screen and (max-width: 1224px) {
  main .container .client__container .client-content .right-content {
    display: none;
  }
}
main .container .client__container .client-content .right-content img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 800px;
  right: -50px;
  transform: scaleX(-1);
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: aliceblue;
  transition: all 0.3s;
}
main .container .client__container .client-content .right-content img:hover {
  transform: scale(-1.05, 1.05);
  right: -35px;
}
main .container .portofolio {
  padding-top: 120px;
  height: 100%;
  color: white;
}
main .container .portofolio__container .top-title {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
main .container .portofolio__container .portofolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main .container .portofolio__container .portofolio-content .card-portofolio {
  background-color: rgba(46, 46, 46, 0.6745098039);
  width: 400px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000;
}
main .container .portofolio__container .portofolio-content .card-portofolio .top-img .img {
  background-color: grey;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 20px;
}
main .container .portofolio__container .portofolio-content .card-portofolio .bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
main .container .portofolio__container .portofolio-content .card-portofolio .bottom a {
  text-decoration: none;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #FF0000;
}
main .container .portofolio__container .portofolio-content .card-portofolio .bottom a:hover {
  background-color: #FF6C6C;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
main .container .contact {
  padding-top: 130px;
  color: white;
  height: 100%;
}
main .container .contact__container .contact-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main .container .contact__container .contact-content {
  display: flex;
  flex-wrap: wrap;
}
main .container .contact__container .contact-content .card-bg {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .container .contact__container .contact-content .card-bg .card-contact {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left {
  width: 350px;
  padding: 20px;
  background-color: #2E2E2E;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .img-content img {
  height: 310px;
  border-radius: 15px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .top-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .top-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1224px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .top-content div {
    flex-direction: row;
  }
}
@media screen and (max-width: 444px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .top-content div {
    flex-direction: column;
  }
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .top-content p {
  margin: 20px 0;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1224px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .bottom-content {
    flex-direction: row;
  }
}
@media screen and (max-width: 444px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left .content .bottom-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 1224px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left {
    width: 100%;
  }
  main .container .contact__container .contact-content .card-bg .card-contact .content {
    margin-top: 20px;
  }
}
@media screen and (max-width: 444px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-left .img-content img {
    height: 280px;
  }
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right {
  background-color: #2E2E2E;
  width: 800px;
  border-radius: 25px;
  padding: 30px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form {
  height: 100%;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1224px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row {
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col {
  width: 100%;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col .control-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col .control-form input {
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #3f3f3f;
  padding: 10px;
  color: white;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col .control-form input:focus {
  outline: 1px solid #FF0000;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col .control-form textarea {
  color: white;
  padding: 10px;
  background-color: #3f3f3f;
  height: 300px;
  border: none;
  border-radius: 15px;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row .col .control-form textarea:focus {
  outline: 1px solid #FF0000;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row button {
  background-color: #FF0000;
  color: white;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0;
}
main .container .contact__container .contact-content .card-bg .card-contact .card-right form .row button:hover {
  background-color: #FF6C6C;
  box-shadow: 0 0 5px #FF0000, 0 0 25px #FF0000;
}
@media screen and (max-width: 1224px) {
  main .container .contact__container .contact-content .card-bg .card-contact .card-right {
    width: 100%;
  }
}
@media screen and (max-width: 790px) {
  main .container {
    margin: 0 20px;
  }
}
@media screen and (max-width: 444px) {
  main .container {
    margin: 0;
  }
}

footer .footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .footer span {
  display: block;
  height: 2px;
  width: 80%;
  margin: 30px;
  background-color: #FF0000; /* Ganti dengan $primary-redmode jika sudah terdefinisi */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */